<%= render partial: "layouts/header" %>
<div class="border-form-div">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div><%= f.label :email %>
  <% if session["devise.google_data"] then %>
    <%= f.email_field :email, value:session["devise.google_data"].info.email, readonly: true %></div>
  <% else %>
    <%= f.email_field :email, autofocus: true %></div>
  <% end %>
  <div><%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up", class:"btn btn-depauw" %></div>
<% end %>
  <% if session["devise.google_data"].nil? then %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
