<%= render partial: "layouts/header" %>
  <div class="container-fluid">
  <% current_user.fares.each do |r| %>
  <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading"><%= r.start %> to <%= r.destination %></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Date</th>
              <th>Seats</th>
            </thead>
            <tbody>
              <tr>
                <td><%= r.time %></td>
                <td><%= r.seats_left %></td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <th>User</th>
            </thead>
            <tbody>
              <% r.pending_passengers.each do |p| %>
              <tr>
                <td><%= p.name %></td>
                <td><%= button_to "Accept", {controller: "users", action: "accept", ride: r, passenger: p} %></td>
                <td><a><span class="glyphicon glyphicon-minus"></a></td>
              </tr>
              <% end %>
              <% r.passengers.each do |p| %>
              <tr>
                <td><%= p.name %></td>
                <td><a><span class="glyphicon glyphicon-plus"></a></td>
                <td><a><span class="glyphicon glyphicon-minus"></a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div> <!--end panel!-->
  </div>
  <% end %>
  </div>

