<%= render partial: "layouts/header" %>
  <div class="container-fluid">
  <% current_user.fares.each do |r| %>
  <div class="col-md-4">
      <div class="panel panel-depauw">
        <div class="panel-heading"><b><%= r.start %></b> to <b><%= r.destination %></b></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Date</th>
              <th>Seats</th>
            </thead>
            <tbody>
              <tr>
                <td><%= r.time.strftime("%b-%d %H:%M") %></td>
                <% if r.seats_left.nil? %>
                  <td class="col-md-4">
                    <%= form_for :ride, html:{id:"seats"},
                      url:{controller: "rides", action: "update_seats", id: r.id} do |f| %>
                    <%= f.text_field :seats, class: "col-md-4" %>
                    <div class="pull-right"><%= f.submit "Update", {class: "btn btn-depauw"} %></div>
                  <% end %>
                  </td>
                <% else %>
                    <td><%= r.seats_left %></td>
                <% end %>
              </tr>
              <% if r.pending_passengers.any? %>
                <tr><td><b>Pending Passengers</b></td></tr>
              <% end %>
              <% r.pending_passengers.each do |p| %>
              <tr>
                <td><%= p.email %></td>
                <td><%= button_to "Accept", {controller: "users", action: "accept", ride: r, passenger: p} %></td>
                <td><%= button_to "Deny", {controller: "users", action: "deny", ride: r, passenger: p} %></td>
              </tr>
              <% end %>
              <tr><td><b>Current Passengers</b></td></tr>
              <% r.passengers.each do |p| %>
              <tr><td>
                <%= p.email %>
                </tr></td>
              <% end %>
              <% if !r.comment.nil? then %>
              <tr><td><b>Comments: </b></td></tr>
              <tr><td><%= r.comment %></td></tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div> <!--end panel!-->
  </div>
  <% end %>
  <!-- normal ride -->
  <% current_user.rides.each do |r| %>
  <% if !current_user.pending?(r) %>
  <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading"><b><%= r.start %></b> to <b><%= r.destination %></b></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Depart Time</th>
              <th>Driver's contact</th>
            </thead>
            <tbody>
              <tr>
                <td><%= r.time.strftime("%b-%d %H:%M")%></td>
                <% if User.find_by_id(r.driver_id) %>
                  <td><%= User.find_by_id(r.driver_id).email%></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <% end %>
  <% end %>
  </div>
<%= render partial: "layouts/footer" %>
  <script>
  $('#seats').submit(function(event){
    if ($.trim($("#ride_seats").val()).length == 0 ) {
        event.preventDefault();
        alert("You haven't choose seats");
    }
  });
</script>
