<%= render partial: "layouts/header" %>
  <div class="container-fluid">
  <% current_user.fares.each do |r| %>
  <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading"><b><%= r.start %></b> to <b><%= r.destination %></b></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Date</th>
              <th>Seats</th>
            </thead>
            <tbody>
              <tr>
                <td><%= r.time %></td>
                <% if r.seats_left.nil? %>
                  <td class="col-md-4">
                    <%= form_for :ride, html:{id:"seats"},
                      url:{controller: "rides", action: "update_seats", id: r.id} do |f| %>
                    <%= f.text_field :seats, class: "col-md-4" %>
                    <div class="pull-right"><%= f.submit "Update", {class: "btn btn-primary"} %></div>
                  <% end %>
                  </td>
                <% else %>
                    <td><%= r.seats_left %></td>
                <% end %>
              </tr>
              <% r.pending_passengers.each do |p| %>
              <tr>
                <td><%= p.email %></td>
                <td><%= button_to "Accept", {controller: "users", action: "accept", ride: r, passenger: p} %></td>
                <td><%= button_to "Deny", {controller: "users", action: "deny", ride: r, passenger: p} %></td>
                <td><a><span class="glyphicon glyphicon-minus"></a></td>
              </tr>
              <% end %>
              <tr><td><b>Current Passengers</b></td></tr>
              <% r.passengers.each do |p| %>
              <tr><td>
                <%= p.email %>
                </tr></td>
              <% end %>
              <% if !r.comment.nil? then %>
              <tr><td><b>Comments: </b></td></tr>
              <tr><td><%= r.comment %></td></tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div> <!--end panel!-->
  </div>
  <% end %>
  </div>
  <script>
  $('#seats').submit(function(event){
    if ($.trim($("#ride_seats").val()).length == 0 ) {
        event.preventDefault();
        alert("You haven't choose seats");
    }
  });
</script>
