<%= render partial: "layouts/header" %>
<% @rides_start.each do |title, ride| %>
  <div class="col-md-12">
    <h4>From: <%= title %></h4>
    <% for r in ride do %>
      <div class="panel panel-success col-md-3">
        <div class="panel-heading"><%= r.start %> to <%= r.destination %></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th> Date </th>
              <th> Seats left </th>
            </thead>
            <tbody>
              <td><%= r.time.strftime("%b-%d %H:%M") %></td>
              <td><%= r.seats_left %></td>
            </tbody>
          </table>
        </div>
      </div><!-- end panel !-->
    <% end %>
  </div>
<% end %>

