<%= render partial: "layouts/header" %>

  <!-- Table -->
  <div class="container">
    <% if current_user then %>
    <input type="checkbox" name="driver" checked>
    <% end %>
    <table id="rides" class="table">
    <thead>
      <th>#</th>
      <th>Driver</th>
      <th>From</th>
      <th>Destination</th>
      <th>Departure</th>
      <th>Seats</th>
      <th>Status</th>
    </thead>
    <tbody>
    <% @all_rides.each do |r| %>
      <tr>
      <td class="col-xs-1 col-md-1"><%= r.id %></td>
      <td class="col-xs-1 col-md-1"><%= User.find_by_id(r.driver_id)? User.find_by_id(r.driver_id).name : ""%></td>
      <td class="col-xs-2 col-md-2"><%= r.start %></td>
      <td class="col-xs-2 col-md-2"><%= r.destination %></td>
      <td class="col-xs-2 col-md-2"><%= r.time.strftime("%b-%d %H:%M") %></td>
      <td class="col-xs-1 col-md-1"><%= r.seats_left %></td>
      <td>
          <% if current_user then %>
            <% if current_user.passenger?(r) %>
              <%= button_to "Jump off", {controller:'users', action:'jump_off', ride: r.id}, {class: 'btn btn-danger'} %>
            <% elsif current_user.pending?(r) %>
              <label style="display:inline-block" class="btn btn-warning">Pending</label>
              <div style="display:inline-block">
                <%= button_to "Jump off", {controller:'users', action:'cancel', ride: r.id}, {class: 'btn btn-danger'} %>
              </div>
            <% elsif !current_user.driver?(r) %>
              <div style="display:inline-block">
                <%= button_to "Join!", {controller:'users', action:'hop_on', ride: r.id}, {class: 'btn btn-success'} %>
              </div>
              <% if current_user.is_driver? then %>
                  <div style="display:inline-block">
                    <%= button_to "Drive!", {controller:'users', action:'drive', ride: r.id}, {class: 'btn btn-primary'} %>
                  </div>
              <% end %>
            <% end %>
            <!--//view as guest!-->
          <% elsif r.seats_left != 0 %>
              <div style="display:inline-block">
              <%= button_to "Join!", {controller:'users', action:'hop_on', ride: r.id}, {class: 'btn btn-success'} %>
              </div>
          <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
    $('#rides').dataTable({
      "paging": false,
      "scrollY":        "800px",
      "scrollCollapse": true,
    });
  } );
    window.switch = <%= session[:driver] %>
    $('input[name="driver"]').bootstrapSwitch('state', window.switch, true);
    $("[name='driver']").on('switchChange.bootstrapSwitch', function(event, state) {
      console.log(this); // DOM element
      console.log(event); // jQuery event
      console.log(state); // true | false
      $.ajax({
        type: 'GET',
        url: '/switch_mode',
        data: {'driver': window.switch},
        success: function(){
          location.reload(); }
      });
      });

  </script>

