<%= render partial: "layouts/header" %>
  <% @user.fares.each do |r| %>
      <div class="panel panel-success col-md-3">
        <div class="panel-heading"><%= r.start %> to <%= r.destination %></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th> Date </th>
              <th> Seats left </th>
            </thead>
            <tbody>
              <td><%= r.time %></td>
              <td><%= r.seats_left %></td>
            </tbody>
          </table>
         </div>
         </div>
       </div>
  <% end %>

  </body>

