<%= render partial: "layouts/header" %>
  <div class="container-fluid">
  <% @user.fares.each do |r| %>
  <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading"><%= r.start %> to <%= r.destination %></div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Date</th>
              <th>Seats left</th>
            </thead>
            <tbody>
              <td><%= r.time %></td>
              <td><%= r.seats_left %></td>
            </tbody>
          </table>
          <table class="table">
            <tbody>
              <% r.pending_passengers.each do |p| %>
              <tr>
                <td><%= p.name %></td>
                <td>Accept</td>
                <td>Reject</td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div> <!--end panel!-->
  </div>
  <% end %>
  </div>

