<%= render partial: "layouts/header" %>
<div class="border-form-div col-xs-9 col-sm-6 col-sm-offset-3">
  <h2>Request a Ride</h2>
  <%= form_for :ride, url:{action: "create"} do |f| %>
  <div class="col-xs-9 col-sm-6">
    <div><%= f.label :ride_start %>
    <%= f.text_field :ride_start, id: "start", data: {autocomplete_source:
                                         Ride.list_start }%></div><br />

    <div><%= f.label :destination %>
    <%= f.text_field :destination, id: "destination", data: {autocomplete_source:
                                         Ride.list_destination }%></div><br />
 </div>
  <div class="col-xs-9 col-sm-6">
    <div><%= f.label :departure_time %>
      <%= f.text_field :departure_time %></div><br />

    <div><%= f.label :seats_available %>
      <%= f.text_field :seats %></div><br />
 </div>

  <div class="col-xs-9 col-sm-6 col-xs-offset-9 col-sm-offset-6"><%= f.submit "Sign up", {class: "btn btn-success"} %></div>
<% end %>
</div>
<!-- for now: not use simple form with autocomplete
<div class="border-form-div col-md-4">
  <h2>Request a Ride</h2>
  <%= simple_form_for :ride do |f| %>
    <%= f.input :list_start%>
      <%= f.input :password %>
      <%= f.button :submit, class:"btn btn-success" %>
  <% end %>
</div>
!-->
