<%= render partial: "layouts/header" %>
<div class="border-form-div col-xs-9 col-sm-6 col-sm-offset-3">
  <h2>Request a Ride</h2>
  <%= form_for :ride, url:{action: "create"} do |f| %>
  <div class="col-xs-9 col-sm-6">
    <div><h4>Start</h4>
    <%= f.text_field :ride_start, id: "start", data: {autocomplete_source:
                                         Ride.list_start }%></div><br />

    <div><h4> Destination </h4>
    <%= f.text_field :destination, id: "destination", data: {autocomplete_source:
                                         Ride.list_destination }%></div><br />
 </div>
  <div class="col-xs-9 col-sm-6">
    <h4> Departure Time </h4>
    <div class="form-group">
    <div class="input-group date" id="datetimepicker1">
      <div style="display:inline-block"><%= f.text_field :time, class:"form-control", style:"display:inline-block" %></div>
      <div style="display:inline-block"> <a><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span> </a>
    </div>
    </div>
  </div>
    <div><h4> Comment </h4>
    <%= f.text_area :comment, id: "comment"%></div><br />
  <div class="col-xs-9 col-sm-6"><%= f.submit "Request", {class: "btn btn-success"} %></div>

 </div>

<% end %>
</div>
<!-- for now: not use simple form with autocomplete
<div class="border-form-div col-md-4">
  <h2>Request a Ride</h2>
  <%= simple_form_for :ride do |f| %>
    <%= f.input :list_start%>
      <%= f.input :password %>
      <%= f.button :submit, class:"btn btn-success" %>
  <% end %>
</div>
!-->
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
